html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
}

label, input {
    display: block;
}

.visuals {
    background-image: url(./public/foliage.avif);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

input {
    width: 200px;
}

.inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 60vw;
}

#form-header {
    background-color: rgb(246, 246, 246);
    padding: 40px;
    padding-top: 100px;
}

#form {
    padding: 12px;
    padding-left: 40px;
    box-shadow: 0px 8px 6px -6px black;
}

#formTitle {
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
}

td {
    padding-bottom: 10px;
    padding-right: 15px;
}

#submission {
    padding: 25px;
    padding-left: 40px;
    padding-bottom: 0px;
    color: #f0f0f0;
}

#createaccountbutton {
    color: white;
    font-size: 20px;
    background-color: #556b2f;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 8px;
    border: none;
}

#createaccountbutton:hover {
    cursor: pointer;
}

#redirect {
    color: black;
    font-size: 20px;
}

#foliage {
    width: 600px;
}